<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Concesionaria "Don Agustín"</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Búsqueda por marca y rango de precio</h1>
    <form action="#" th:action="@{/Buscar}" th:object="${search}" method="post">
    	<p>Marca: <input type="text" th:field="*{marca}" /></p>
        <p>Precio mínimo: <input type="text" th:field="*{min}" /></p>
        <p>Precio máximo: <input type="text" th:field="*{max}" /></p>
        <p><input type="submit" value="Buscar" /> <input type="reset" value="Resetear" /></p>
    </form>
</body>
</html>